# Importing libraries, Paths, and Dataframes

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'Desktop/CF/Achievement 4/Instacart Basket Analysis/02 Data/Prepared Data/df_merged_2.pkl'

In [9]:
path_orig =r'Desktop/CF/Achievement 4/Instacart Basket Analysis'

In [3]:
df = pd.read_pickle(os.path.join(path))

In [5]:
df

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,orders_days_since_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order,loyalty_flag
0,2539329,1,1,2,8,First_order,196,1,0,Soda,77,7,9.0,both,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,31,Regular customer
32434208,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,31,Regular customer
32434209,758936,203436,1,2,7,First_order,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both,3,New customer
32434210,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both,3,New customer
32434211,3093936,205420,1,4,14,First_order,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,16,Regular customer

In [ ]:
# I can see straight off the bat that there are more user Id's and the min and max has changed

In [6]:
df.groupby('department_id')['order_number'].mean()

department_id
1     15.457687
2     17.277920
3     17.179756
4     17.811403
5     15.213779
6     16.439806
7     17.225773
8     15.340520
9     15.895474
10    20.197148
11    16.170828
12    15.887622
13    16.583304
14    16.757377
15    16.165037
16    17.663250
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [7]:
df_sub = df[:1000000]

In [8]:
df_sub.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [ ]:
# Loyalty customers spend less. The Min and Max dont really show much but the Average is very telling.

In [12]:
df.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

# Getting the Spending Flag

In [ ]:
# Ihad to first create a column for the average prices spent by user

In [13]:
df['Average_order'] = df.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/ys/c00h737n045dn1bcd8vmxlrc0000gn/T/ipykernel_56333/2850653378.py:1: FutureWarning: The provided callable <function mean at 0x10fe2a2a0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df['Average_order'] = df.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
df

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,orders_days_since_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order,loyalty_flag,Average_order
0,2539329,1,1,2,8,First_order,196,1,0,Soda,77,7,9.0,both,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,31,Regular customer,6.905655
32434208,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,31,Regular customer,6.905655
32434209,758936,203436,1,2,7,First_order,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both,3,New customer,7.631579
32434210,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both,3,New customer,7.631579
32434211,3093936,205420,1,4,14,First_order,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,16,Regular customer,7.684746

In [ ]:
# I was then able to create a column with the flags using the loc function.

In [24]:
df.loc[df['Average_order'] < 10, 'Spending_flag'] = 'Low Spender'
df.loc[df['Average_order'] >= 10,  'Spending_flag'] = 'High Spender'

In [25]:
df

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,orders_days_since_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order,loyalty_flag,Average_order,Spending_flag
0,2539329,1,1,2,8,First_order,196,1,0,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,31,Regular customer,6.905655,Low Spender
32434208,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,31,Regular customer,6.905655,Low Spender
32434209,758936,203436,1,2,7,First_order,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both,3,New customer,7.631579,Low Spender
32434210,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both,3,New customer,7.631579,Low Spender
32434211,3093936,205420,1,4,14,First_order,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,16,Regular customer,7.684746,Low Spender

In [26]:
df['Spending_flag'].value_counts()

Spending_flag
Low Spender     31798751
High Spender      635461
Name: count, dtype: int64

# Getting the Frequency Flag

In [ ]:
# At first I had change the value'First_order' Because the median wouldnt calculate.

In [36]:
df['orders_days_since_order'].replace('First_order',0,inplace=True)

In [ ]:
# Then I was able to use the group by function to create a column for the median

In [72]:
df['median_order'] = df.groupby(['user_id'])['orders_days_since_order'].transform(np.median)

/var/folders/ys/c00h737n045dn1bcd8vmxlrc0000gn/T/ipykernel_56333/3252303127.py:1: FutureWarning: The provided callable <function median at 0x10ff6ed40> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df['median_order'] = df.groupby(['user_id'])['orders_days_since_order'].transform(np.median)

In [ ]:
# then I had to change the data type.

In [70]:
df['orders_days_since_order'] = df['orders_days_since_order'].astype(float)

In [71]:
df['orders_days_since_order'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 32434212 entries, 0 to 32434211
Series name: orders_days_since_order
Non-Null Count     Dtype
--------------     -----
32434212 non-null  float64
dtypes: float64(1)
memory usage: 247.5 MB

In [73]:
df

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,orders_days_since_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order,loyalty_flag,Average_order,Spending_flag,median_order
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,31,Regular customer,6.905655,Low Spender,7.0
32434208,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,31,Regular customer,6.905655,Low Spender,7.0
32434209,758936,203436,1,2,7,0.0,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both,3,New customer,7.631579,Low Spender,15.0
32434210,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both,3,New customer,7.631579,Low Spender,15.0
32434211,3093936,205420,1,4,14,0.0,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,16,Regular customer,7.684746,Low Spender,12.0

In [ ]:
# I was then able to use the loc function to create a column based on the median_order colummn

In [86]:
df.loc[df['median_order'] > 20, 'Frequency_flag'] = 'Non-frequent customer'
df.loc[(df['median_order'] > 10) & (df['median_order'] <= 20), 'Frequency_flag'] = 'Regular customer'
df.loc[df['median_order'] <= 10, 'Frequency_flag'] = 'Frequent customer'

In [ ]:
#I checked for errors

In [87]:
df['Frequency_flag'].value_counts()

Frequency_flag
Frequent customer        22814871
Regular customer          6929354
Non-frequent customer     2689987
Name: count, dtype: int64

In [ ]:
# the code was a success

In [88]:
df

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,orders_days_since_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order,loyalty_flag,Average_order,Spending_flag,median_order,Frequency_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.0,Regular customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.0,Regular customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.0,Regular customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.0,Regular customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.0,Regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,31,Regular customer,6.905655,Low Spender,7.0,Frequent customer
32434208,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,31,Regular customer,6.905655,Low Spender,7.0,Frequent customer
32434209,758936,203436,1,2,7,0.0,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both,3,New customer,7.631579,Low Spender,15.0,Regular customer
32434210,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both,3,New customer,7.631579,Low Spender,15.0,Regular customer
32434211,3093936,205420,1,4,14,0.0,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,16,Regular customer,7.684746,Low Spender,12.0,Regular customer

In [91]:
df.to_pickle(os.path.join(path_orig, '02 Data','Prepared Data', 'df_4_8.pkl'))